# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
*.log
bin/*
command_logs
cmds/daemon_test_unix_socket/daemon_test_unix_socket
cmds/daemon_test/daemon_test
.*.swp
main
cmds/detect_unix_socket/detect_unix_socket
packages
releases
.DS_Store
cmds/daemon_test/main.go
cmds/daemon_test_unix_socket/docker-compose.yaml
cmds/daemon_test_unix_socket/main.go
cmds/detect_unix_socket/.buildignore
cmds/detect_unix_socket/main.go
scripts/run_command_logs.sh
